html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
    font-family: Arial, Helvetica, sans-serif;
}

.recipeTitle{
    text-align: center;
    background-color: #0064bc;
    color: #fff;
    padding: 10px;
    border: 2px solid #004785;
    margin: 5px 0 10px 0;
}

.card{
    padding: 15px;
    margin: 10px 0;
    background-color: #e7d6c5;
    border: 1px solid #caac8f;
}

.card h2{
    margin-top: 0;
}

.card p,
.card ul,
.card ol{
    margin-bottom: 0;
}

.homeLink{
    display: block;
    padding: 10px;
    font-weight: bold;
    background-color: #dbdbdb;
    text-align: center;
}